<?xml version="1.0"?>
<launch>

<param name="active" type="int" value="0" />
<param name="des_pos_x" type="double" value="1" />
<param name="des_pos_y" type="double" value="1" />

<node pkg="final_assignment" type="UI.py" name="UI" launch-prefix="xterm -e" />
<node pkg="final_assignment" type="my_teleop_twist_keyboard.py" name="my_teleop_twist_kb" launch-prefix="xterm -e" /> 
<node pkg="final_assignment" type="wall_follow_service.py" name="wall_follower" />
<node pkg="final_assignment" type="go_to_point_service.py" name="go_to_point" />
<node pkg="final_assignment" type="bug.py" name="bug" output="screen" />

</launch>